@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary { @apply bg-hispOrange text-white px-6 py-3 rounded-lg font-semibold hover:bg-orange-600 transition; }
  .btn-blue { @apply bg-hispBlue text-white px-5 py-2 rounded-lg hover:bg-hispDark transition; }
  .btn-green { @apply bg-hispGreen text-white px-5 py-2 rounded-lg hover:bg-green-600 transition; }
  .card { @apply bg-white rounded-xl shadow-md hover:shadow-lg transition p-6 border border-gray-100; }
}